@import '../../styles/utils/index';

@include p(login) {
  text-align: center;

  @include pb(tip) {
    @include block--center;
    @extend %lhfs44;

    padding-bottom: px2rpx(100px);
    width: px2rpx(600px);
    text-align: left;
  }
}
