@import "../../utils/index";

@include c(button) {
  text-align: center;

  @include m(1) {
    @include text--middle(px2rem(66px));
    @extend %fs13;

    width: px2rem(302px);
    background-color: map-get($colors, c3);
    color: map-get($colors, c1);
    border-radius: px2rem(33px);
  }

  @include m(2) {
    @include text--middle(px2rem(66px));
    @extend %fs14;

    width: px2rem(302px);
    background-color: map-get($colors, c6);
    color: map-get($colors, c1);
    border-radius: px2rem(33px);
  }

  @include m(3) {
    @include text--middle(px2rem(68px));
    @extend %fs15;

    width: px2rem(248px);
    border-radius: px2rem(34px);
    background-color: map-get($colors, c6);
    color: map-get($colors, c1);
    box-shadow: 0 6px 7px 0 rgba(map-get($colors, c2), .1);
  }
}
