@include c(button) {
  display: inline-block;
  text-align: center;

  @include m(1) {
    @include text--middle(px2rpx(80px));

    width: px2rpx(600px);
    border-radius: px2rpx(80px);

    &::after {
      border: none;
    }
  }
}
