@include c(icon) {
  display: inline-block;
  background: {
    size: 100% 100%;
    repeat: no-repeat;
    position: center center;
  }

  @include m(logo) {
    @include size(px2rpx(150px), px2rpx(150px));

    background-image: cdn("components/icon/logo.png");
  }
}
