@import "../../../utils/index";

@include c(scene) {
  background:{
    size: 100% auto;
    position: top center;
    repeat: no-repeat;
  }

  @include m(office) {
    background-image: url("./images/office.png");
  }

  @include m(parlour) {
    background-image: url("./images/parlour.png");
  }

  @include m(parlour) {
    background-image: url("./images/parlour.png");
  }

  @include m(road) {
    background-image: url("./images/road.png");
  }
}

